body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
    margin: 20px auto;
    background-color: #E0FFFF;
    padding: 10px;
    border-radius: 5px;
}


.card {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
}

.card.flipped {
  transform: rotateY(180deg);
  background-color: #eee;
}

.card.matched {
   background-color: #8f8;
   border-color: #8f8;
   pointer-events: none;
}

#message {
    margin-bottom: 10px;
    font-weight: bold;
}

.card-placeholder {
    color: #0000FF; /* Blue color for the emoji */
    font-size: 1.5em; /* Reduced font-size */
    line-height: 1;
    display: inline-block; /* Ensure proper vertical alignment */
    transform: translateY(2px); /* Align the emoji a bit better */
}


.card-icon {
  font-size: 2em;
}

/* mobile responsiveness, decrease the sizes */
@media (max-width: 600px) {
    #game-board {
        grid-template-columns: repeat(5, 50px);
    }
    .card {
        width: 50px;
        height: 50px;
        font-size: 1em;
    }
    .card-icon {
        font-size: 1em;
    }
}